<section class="free_games_section">
    <div class="free_games_cont">
        <div class="free_game_head">
            <div class="free_games_head_right">
                <i class="fa fa-gift"></i>
                <span class="free_games_title">Free Games</span>
            </div>
            <div class="free_games_head_left">
                <a href="" id="view_more_free_games">VIEW MORE</a>
            </div>
        </div>
        <div class="free_games">
            <div class="free_games_card">
                <div class="free_games_card_img">
                    <img src="./static/images/main-img/rocket_league.jpg" alt="" id="free_games_img">
                    <a class="free_available">
                        FREE NOW
                    </a>
                </div>
                <div class="free-games_card_info">
                    <a href="" id="free_games_title">Rocket League</a>
                    <div class="free_games_info">
                        <a href="" id="free_games_info">Free Now - Jan 19 at 09:30 PM</a>
                    </div>
                </div>
            </div>
            <div class="free_games_card">
                <div class="free_games_card_img">
                    <img src="./static/images/main-img/Diabotical.jpg" alt="" id="free_games_img">
                    <div class="free_available">
                        FREE NOW
                    </div>
                </div>
                <div class="free-games_card_info">
                    <a href="" id="free_games_title">Diabotical</a>
                    <div class="free_games_info">
                        <a href="" id="free_games_info">Free Now - Jan 19 at 09:30 PM</a>
                    </div>
                </div>
            </div>
            <div class="free_games_card">
                <div class="free_games_card_img">
                    <img src="./static/images/main-img/DKO.jpg" alt="" id="free_games_img">
                    <div class="free_available">
                        FREE NOW
                    </div>
                </div>
                <div class="free-games_card_info">
                    <a href="" id="free_games_title">DKO</a>
                    <div class="free_games_info">
                        <a href="" id="free_games_info">Free Now - Jan 19 at 09:30 PM</a>
                    </div>
                </div>
            </div>
            <div class="free_games_card">
                <div class="free_games_card_img">
                    <img src="./static/images/main-img/GamedecDefinitiveEdition.jpg" alt="" id="free_games_img">
                    <div class="free_available">
                        FREE NOW
                    </div>
                </div>
                <div class="free-games_card_info">
                    <a href="" id="free_games_title">Gamedec - Definitive Edition</a>
                    <div class="free_games_info">
                        <a href="" id="free_games_info">Free Jan 19 - Jan 26</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>