<header class="header">
    <div class="logo_ul">
        <img id="epic_logo"
            src="/images/epic_logo.png"
            alt="">
        <nav class="navbar navbar_1" id="navbar_1">
            <div class="nav_bar ">
                <a id="nav_a" href="#store">STORE</a>
                <a id="nav_a" href="#faq">FAQ</a>
                <a id="nav_a" href="#help">HELP</a>
                <a id="nav_a" href="#unreal_engine">UNREAL ENGINE</a>
            </div>
        </nav>
    </div>

    <div class="container form_hidden" id="ham" onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>

    <div class="signup_link" id="signup_link2">
        <div class="singup">
            <a id="singup1" href="">SINGNUP</a>
        </div>
        <div class="download_link">
            <a id="download_link1" href="">DOWNLOAD</a>
        </div>
    </div>

    <div class="dropdown form_hidden" id="drop_down">
        <a href="/login">ACCOUNT</a>
        <a href="">MY ACHEIEVMENT</a>
        <a href="">REDEEM CODE</a>
        <a href="">COUPONS</a>
        <a href="">SIGN OUT</a>
    </div>
</header>

<nav class="navbar navbar_flex form_hidden" id="navbar_2">
    <div class="nav_bar">
        <a id="nav_a" href="#store">STORE</a>
        <a id="nav_a" href="#faq">FAQ</a>
        <a id="nav_a" href="#help">HELP</a>
        <a id="nav_a" href="#unreal_engine">UNREAL ENGINE</a>
    </div>

    <div class="signup_link form_hidden" id="signup_link1">
        <div class="singup">
            <a id="singup2" href="">SINGNUP</a>
        </div>
        <div class="download_link">
            <a href="#download_link">DOWNLOAD</a>
        </div>
    </div>
</nav>