<section class="epic_player_rating">
    <div class="epic_player_rating_cont">
        <div class="epic_rating_title_sub">
            <p class="rating_title">Epic Player Ratings</p>
            <p class="rating_title_sub">Captured from players in the Epic Games ecosystem.</p>
            <div class="rate_star"></div>
            <div class="grid_rate">
                <div class="grid_rate_table">
                    <div class="type_rating_box">
                        <div class="rating_svg">
                            <img class="rating_svg_" src="/images/svg/duck.svg" alt="">
                        </div>
                        <div class="rating-text">
                            <p class="rating_text_sm">This game is</p>
                            <p class="rating_text_title">Great for Beginners</p>
                        </div>
                    </div>
                    <div class="type_rating_box">
                        <div class="rating_svg">
                            <img class="rating_svg_" src="/images/svg/2_relax.svg" alt="">
                        </div>
                        <div class="rating-text">
                            <p class="rating_text_sm">This game is</p>
                            <p class="rating_text_title">Relaxing</p>
                        </div>
                    </div>
                    <div class="type_rating_box">
                        <div class="rating_svg">
                            <img class="rating_svg_" src="/images/svg/3_world.svg" alt="">
                        </div>
                        <div class="rating-text">
                            <p class="rating_text_sm">This game is</p>
                            <p class="rating_text_title">Diverse Characters</p>
                        </div>
                    </div>
                    <div class="type_rating_box">
                        <div class="rating_svg">
                            <img class="rating_svg_" src="/images/svg/4_controls.svg" alt="">
                        </div>
                        <div class="rating-text">
                            <p class="rating_text_sm">This game is</p>
                            <p class="rating_text_title">Quickly Understood Controls</p>
                        </div>
                    </div>
                    <div class="type_rating_box">
                        <div class="rating_svg">
                            <img class="rating_svg_" src="/images/svg/5_fun.svg" alt="">
                        </div>
                        <div class="rating-text">
                            <p class="rating_text_sm">This game is</p>
                            <p class="rating_text_title">Extremely Fun</p>
                        </div>
                    </div>
                    <div class="type_rating_box">
                        <div class="rating_svg">
                            <img class="rating_svg_" src="/images/svg/6_story.svg" alt="">
                        </div>
                        <div class="rating-text">
                            <p class="rating_text_sm">This game is</p>
                            <p class="rating_text_title">Amazing Storytelling</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>