<section class="suggestion_section">
    <div class="suggestions">
        <div class="suggest_card">
            <div class="suggest_img">
                <img id="suggest_img"
                    src="https://cdn2.unrealengine.com/egs-rocket-league-ford-collection-breaker-1920x1080-08481ec5cbf8.jpg?h=720&resize=1&w=1280"
                    alt="">
            </div>
            <div class="suggest_card_text">
                <a href="" id="suggest_title">Rocket League</a>
                <p href="" id="suggest_info">Classic meets current in Rocket League in the Ford Mega Bundle. Save 75%
                    and receive all the Ford and Mustang vehicles!</p>
                <a href="" id="game_play_price">Play For Free</a>
            </div>
        </div>
        <div class="suggest_card">
            <div class="suggest_img">
                <img id="suggest_img"
                    src="https://cdn2.unrealengine.com/egs-honkai-impact-v6-3-breaker-1920x1080-45e110b43752.jpg?h=720&resize=1&w=1280"
                    alt="">
            </div>
            <div class="suggest_card_text">
                <a href="" id="suggest_title">Honkai Impact 3rd</a>
                <p href="" id="suggest_info">New character Herrscher of Truth debuts. Play Supply event featuring her to
                    get
                    equipment items.</p>
                <a href="" id="game_play_price">Free</a>
            </div>
        </div>
        <div class="suggest_card">
            <div class="suggest_img">
                <img id="suggest_img"
                    src="https://cdn2.unrealengine.com/egs-league-of-legends-lunar-ny-2023-breaker-1920x1080-805df29aeefa.jpg?h=720&resize=1&w=1280"
                    alt="">
            </div>
            <div class="suggest_card_text">
                <a href="" id="suggest_title">League of Legends - Lunar Revel 2023</a>
                <p href="" id="suggest_info">Celebrate a new year with enchanting experiences and good fortune all
                    around.
                </p>
                <a href="" id="game_play_price">Play For Free</a>
            </div>
        </div>
    </div>
</section>
